body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: none;
}

img {
    display: block;
    width: 65%;
}

.back-to-top {
    display: none;
}

form {
    display: none;
}

footer {
    display: none;
}

.topic-detail {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

ul {
    list-style-type: none;
    margin-top: 15px;
}

li p {
    margin-top: 3px;
    margin-bottom: 3px;
}

a {
    display: none;
}

.line-numbers {
    width: 100%;
}